<?xml version="1.0"?>
<launch>

    <arg name="car_frame_id" default="body"/>
    <arg name="pose_cov_topic" default="/uwb_pose_cov"/>
    <arg name="cov_x_2d" default="0.6"/>
    <arg name="cov_y_2d" default="0.6"/>
    <arg name="cov_z_2d" default="0.6"/>
    <arg name="cov_x_3d" default="0.6"/>
    <arg name="cov_y_3d" default="0.6"/>
    <arg name="cov_z_3d" default="0.6"/>
    <arg name="sensor_noise" default="0.000370"/>

    <param name="sensor_noise" value="$(arg sensor_noise)"/>
    <rosparam param="tag_names">
        ["tag_left_back", "tag_left_front", "tag_right_front", "tag_right_center",
        "tag_right_bumper", "tag_left_bumper"]
    </rosparam>

    <rosparam command="load" file="$(find decawave_localization)/config/real_car.yaml" />

    <rosparam param="offsets">
        ["-0.169", "-0.106", "0.0", "-0.134", "0.0", "0.0"]
    </rosparam>

    <!-- Reading from tag sensors -->

    <node name="reader1" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM4"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="reader2" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="reader3" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM2"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="reader4" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM3"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="reader5" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM5"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="reader6" type="tag.py" pkg="decawave_localization"
        output="screen">
        <param name="port" value="/dev/ttyACM6"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

    <node name="filter_left_front" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_left_front/range" />
    </node>

    <node name="filter_left_back" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_left_back/range" />
    </node>

    <node name="filter_right_center" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_right_center/range" />
    </node>

    <node name="filter_left_center" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_right_front/range" />
    </node>

    <node name="filter_right_bumper" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_right_bumper/range" />
    </node>

    <node name="filter_left_bumper" type="kalman.py" pkg="decawave_localization" output="screen">
        <param name="tag_range_topic" value="tag_left_bumper/range" />
    </node>

    <!-- Static transforms from the car frame to the tags -->

    <node name="tag_transforms" type="tag_transforms.py" pkg="decawave_localization" output="screen">
        <param name="frame_id" value="$(arg car_frame_id)" />
    </node>

    <!-- Running the trilateration node -->
    <node pkg="decawave_localization" type="localize.py"
        name="decawave_localization" output="screen">
        <param name="frame_id" value="$(arg car_frame_id)"/>
        <param name="frequency" value="30"/>
        <param name="cov_x_2d" value="$(arg cov_x_2d)"/>
        <param name="cov_y_2d" value="$(arg cov_y_2d)"/>
        <param name="cov_z_2d" value="$(arg cov_z_2d)"/>
        <param name="cov_x_3d" value="$(arg cov_x_3d)"/>
        <param name="cov_y_3d" value="$(arg cov_y_3d)"/>
        <param name="cov_z_3d" value="$(arg cov_z_3d)"/>
        <remap from="pose_cov_3d" to="$(arg pose_cov_topic)_3d"/>
        <remap from="pose_cov_2d" to="$(arg pose_cov_topic)_2d"/>
        <rosparam>
            tag_range_topics:
                - tag_left_front/range_filtered
                - tag_left_back/range_filtered
                - tag_right_center/range_filtered
                - tag_right_front/range_filtered
                - tag_right_bumper/range_filtered
                - tag_left_bumper/range_filtered
            two_d_tags:
                - tag_left_back
                - tag_left_front
                - tag_right_front
                - tag_right_center
        </rosparam>
    </node>

    <node pkg="decawave_localization" type="ekf.py"
        name="decawave_ekf" output="screen">
        <param name="frame_id" value="$(arg car_frame_id)"/>
        <param name="frequency" value="30"/>
        <param name="cov_x_2d" value="$(arg cov_x_2d)"/>
        <param name="cov_y_2d" value="$(arg cov_y_2d)"/>
        <param name="cov_z_2d" value="$(arg cov_z_2d)"/>
        <param name="cov_x_3d" value="$(arg cov_x_3d)"/>
        <param name="cov_y_3d" value="$(arg cov_y_3d)"/>
        <param name="cov_z_3d" value="$(arg cov_z_3d)"/>
        <remap from="pose_cov_3d" to="$(arg pose_cov_topic)_3d"/>
        <remap from="pose_cov_2d" to="$(arg pose_cov_topic)_2d"/>
        <rosparam>
            tag_range_topics:
                - tag_left_front/range_filtered
                - tag_left_back/range_filtered
                - tag_right_center/range_filtered
                - tag_right_front/range_filtered
                - tag_right_bumper/range_filtered
                - tag_left_bumper/range_filtered
            two_d_tags:
                - tag_left_back
                - tag_left_front
                - tag_right_front
                - tag_right_center
        </rosparam>
    </node>

</launch>
